.box {
    width: 160px;
    height: 130px;
    padding: 0;
    background-color:midnightblue ;
    border-radius: 0;
}

.about {
    width: 160px;
    height: 130px;
    padding: 0;
    background-color:midnightblue ;
    border-radius: 0;
} 
